button {
    margin-top: 3%;
    margin-left: 3%;
    border-radius: 8px;
    padding: 1%;
    background-color: rgba(0, 140, 255, 0.575);
    border-color: rgba(0, 0, 0, 0);
}

a:link {
    color: rgb(214, 193, 5);
    text-decoration: none;
    cursor: default;
}

a:visited {
    color: rgb(214, 193, 5);
    cursor: default;
}

a:focus {
    color: rgb(214, 193, 5);
    cursor: default;
}

a:hover {
    color: rgb(214, 193, 5);
    cursor: default;
}

a:active {
    color: rgb(214, 193, 5);
    cursor: default;
}

body {
    background-image: url('index_background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}